<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="pageBean"
          class="ru.ithub.spring.PageLetter">
    </bean>
    <context:property-placeholder location="savePage.application" />
    <bean id="showPageBean" class="ru.ithub.spring.ShowPage">
        <property name="page" ref="pageBean" />
        <property name="name" value="${savePage.name}" />
        <property name="with" value="${savePage.with}" />
        <property name="height" value="${savePage.height}" />
    </bean>
</beans>