{% extends "base_generic.html" %}

{% block content %}
    <h1>Author: {{ author.first_name }} {{ author.last_name }}</h1>

    <p>{{ author.date_of_birth }} - {{ author.date_of_death }}</p>

    <div style="margin-left:20px;margin-top:20px">
        <h3 style="margin-bottom: 20px">Books</h3>

        {% for book in author.book_set.all %}
            <div style="margin-left: 30px;">
                <h4 style="font-family: monospace; font-weight: bold; margin: 0"><a
                        href="{{ book.get_absolute_url }}">{{ book.title }}</a></h4>
                <p style="max-width: 900px"><strong>Summary:</strong> {{ book.summary }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
