* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	display: flex;
	justify-content: center;
}

.App {
	width: 800px;
}

.post {
	display: flex;
	padding: 15px;
	border: 2px solid teal;
	margin-top: 15px;
	justify-content: space-between;
	align-items: center;
}

/* анимация была изменена по моей инициативе, поскольку она была обрывиста */
.post-enter {
	opacity: 0;
	transform: translateY(-20px);
}

.post-enter-active {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.post-exit {
	opacity: 1;
	transform: translateY(0);
}

.post-exit-active {
	opacity: 0;
	transform: translateY(-20px);
	transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}
